name: FastAPI CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [self-hosted]
    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v4

      - name: Fix file ownership for cleanup
        run: sudo chown -R $USER backend/
        
      - name: Copy environment file
        run: cp /home/harif/envs/wc-solutions.env .env

      - name: Build and start containers
        run: docker compose up -d --build

      - name: Stop containers
        if: always()
        run: docker compose down

