name: FastApi CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [self-hosted]
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      working-directory: ./backend
      run: |
        python3 -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt
