name: FastAPI CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [self-hosted]
    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v4

      - name: Build and start containers
        run: docker compose up -d --build

      - name: Run migrations
        run: docker compose run --rm wc_solutions_migrate

      - name: Run tests
        run: docker compose exec -T wc_solutions_dev pytest -v

      - name: Stop containers
        if: always()
        run: docker compose down

